@model ConsoleApplication.Models.Entities.Student


@{
    ViewBag.Title = "Create Students"; 
} 

    <form asp-controler="Student" asp-action="Create" method="POST" class="form-horizontal" >
      
        @Html.Partial("_StudentsForm")
      
    </form>
 

