@model ConsoleApplication.Models.Student

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update Student - @Model.FirstName</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
    </head>
    <body class="container" style="margin-top: 40px">

        <div class="jumbotron">
            <h1>Update Student - @Model.FirstName</h1>
        </div>
    

    <form asp-controler="Student" asp-action="Update" method="POST" class="container" >
        
        <p class="row"> <input class="form-control col-xs-12 " type="Text" asp-name=@Model.FirstName value=@Model.FirstName></input></p>
        <p class="row"><input class="form-control col-xs-12" type="Text" asp-name=@Model.LastName value=@Model.LastName></input></p>
        <p class="row"><input class="form-control col-xs-12" type="Text" asp-name=@Model.EnrollmenDate value=@Model.EnrollmenDate></input></p>
        <p class="row"><input class="form-control col-xs-12" type="Text" asp-name=@Model.Age value=@Model.Age></input></p>
        <p class="row"><input class="form-control btn btn-success col-xs-12" type="submit" value="Update"></input></p>

    </form>
   

    
    </body>
</html>