@model ConsoleApplication.Models.Student

@{
    ViewBag.Title = "Update Student";
}
    

    <form asp-controler="Student" asp-action="Update" method="POST" class="form-horizontal" >
        <input class="form-control" type="Hidden" asp-for="StudentID">
      
        @Html.Partial("_StudentsForm")
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
        
    </form>
   
